{% extends "encyclopedia/layout.html" %}

{% block title %}
  Edit {{ edit_page | safe }}
{% endblock %}

{% block body %}
    <h1>Edit {{edit_page}}</h1>
    <form method="post" id="wikiEditPageForm" action="{% url 'encyclopedia:edit_page' edit_page %}">
      <div class="form-group col-3">
        {% csrf_token %}
        {{ form }}
        <small id="wikiTitleHelp" class="form-text text-muted">Please ensure that your wiki changes are in the proper Markdown syntax.</small>
      </div>
      {% if messages %}
      <div class="messages alert alert-danger" role="alert">
          {% for message in messages %}
          <span{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span>
          {% endfor %}
      </div>
      {% endif %}
      <button id="btn_edit_submit" type="submit" class="btn btn-primary">Submit Changes</button>
    </form>
{% endblock %}
