<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class= "flashes" style="list-style: none;">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
        {% endwith %}
    </head>
    <body>
      <nav class="navbar navbar-expand-lg navbar-light" id="NavBar">
        <a class="navbar-brand">GoodReads</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

        <div class="collapse navbar-collapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('index')}}">Home <span class="sr-only">(current)</span></a>
            </li>
          </ul>

          {% if session %}
          <form class="form-inline my-2 my-lg-0" action="{{ url_for('Search')}}" method="post" id="Search">
            <input name="SearchBar" class="form-control mr-sm-2" placeholder="Find a Book" aria-label="Search" type="text">
            <button class="btn btn-outline-success btn-sm" type="submit">Search</button>
          </form>
          {% endif %}

          {% if session %}
          <form class="form-inline" action="{{ url_for('Logout')}}" name="LogOut">
            <button class="btn btn-sm btn-outline-secondary" type="submit">Log Out</button>
          </form>
          {% endif %}
        </div>
      </nav>
      <div class="hero-image">
        <div class="container">
            {% block body %}
            {% endblock %}
        </div>
      </div>

    </body>
</html>
